.stat {
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat > * {
  flex: 1;
}

@media screen and (min-width: 700px) {
  .stat {
    font-size: 68.9px;
  }
}
